# config
EMAIL_USER=Ur@email.com
EMAIL_PASS=your app password
STORE_EMAIL=owners email

# server
PORT=3000
RP_ID=http://localhost:3442
SITE_URL=localhost

# admin pannel
# node -e "require('bcrypt').hash('YOUR_REAL_PASSWORD', 12).then(h=>console.log(h))"
# This is the password u can generate with bcrypt
ADMIN_USER=user
ADMIN_PASS=user
# ADMIN_PASS_HASH= use the command from above to generate the hash if u want like that.

ALLOWED_ORIGIN=https://florariecarpineni.com,http://localhost:3442
SESSION_SECRET=wkf45ggi234efioj5jw43sdw5gdehT.... # any random 32 (or more) character string 

# or u can run this instead of numbers in SESSION_SECRET: <run: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))">

NODE_ENV=production
DATA_ENCRYPTION_KEY= # random number here
