# config
EMAIL_USER=Ur@email.com
EMAIL_PASS=your app password
STORE_EMAIL=owners email

# server
PORT=3000
RP_ID=http://localhost:3442
SITE_URL=localhost

# admin pannel
ADMIN_USER=user
ADMIN_PASS=user
ALLOWED_ORIGIN=https://florariecarpineni.com,http://localhost:3442
SESSION_SECRET=wkf45ggi234efioj5jw43sdw5gdehT.... # any random 32 (or more) character string